@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #8d99ae;
  --secondary-color: #d90429;
  --terciary-color: #ef233c;
  --dark-color: #2b2d42;
  --light-color: #edf2f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--dark-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-blend-mode: soft-light;
  display: grid;
  align-items: center;
  justify-content: center;
  flex: 0 0 10em;
  margin: 0% 10%;
}

a {
  color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--light-color);
}

.btn-holder a {
  position: fixed;
  right: 40px;
  bottom: 40px;
  color: var(--terciary-color);
  text-decoration: none;
}

.btn-holder a:hover {
  color: var(--secondary-color);
}

.btn-holder {
  display: flex;
  justify-content: flex-end;
}

/* Navbar */
.sidenav {
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0a0d0f;
  padding-top: 35vh; /* 25% of vertical height */
  height: 100%;
  width: 220px;
  overflow-x: hidden;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: var(--light-color);
  display: block;
  background-color: #0a0d0f;
  margin: 0;
}

.sidenav a:hover {
  color: var(--primary-color);
}

/* Showcase */
.showcase {
  margin: 35% 0;
  left: 220px;
}

.showcase h4,
a {
  font-weight: bold;
  margin: 5px 0;
  padding: 0px;
}

.showcase h1 {
  font-weight: bolder;
  font-size: 60px;
  margin: 0px;
}

.profile-icons a {
  margin: 20px 80px 5px 80px;
  color: var(--terciary-color);
  text-decoration: none;
}

.profile-icons a:hover {
  color: var(--secondary-color);
}

.container-showcase {
  display: inline-flex;
  justify-items: center;
  align-content: center;
}

.mail a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.pfp {
  margin: 0px 0px 50px 0px;
  display: flex;
  align-self: center;
}

.pfp img {
  border: 8px solid #4a4e69;
  border-radius: 100px;
  width: 200px;
}

.showcase-text .red {
  color: var(--terciary-color);
  flex-shrink: auto;
  width: auto;
  align-self: auto;
}

.showcase-text {
  margin-left: 50px;
}

.showcase-info {
  margin: 0px 0px 10px 0px;
}

/* Experience */
.container-exp {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  left: 220px;
}

.experience h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.experience {
  margin-top: 50px;
  max-width: 85vw;
}

.experience .exp-inst {
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 20px;
}

.exp-item {
  margin-bottom: 40px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details h5 {
  margin-top: 10px;
}

.experience .exp-title {
  margin-top: 5px;
  font-weight: bold;
  color: var(--terciary-color);
}

.exp-date {
  font-weight: bold;
}

/* Skills */
.tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #0a0d0f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  font-size: medium;
  margin-bottom: 5px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.6s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.container-skills {
  margin-top: 250px;
  margin-bottom: 250px;
  margin-left: 5%;
  margin-right: 5%;
  height: 100vh;
  left: 220px;
  max-height: 100vh;
  max-width: 800px;
  text-align: center;
}

#skills h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 50px;
  text-align: start;
}

.skill-list li {
  display: inline;
  margin: 0px auto 0px auto;
}

.skill-icons {
  color: var(--light-color);
  list-style-type: none;
  font-size: 3rem;
  margin: 5px 15px;
  padding-right: 5px;
}

.skill-icons i:hover {
  color: var(--primary-color);
}

.workflow {
  padding-top: 40px;
  padding-left: 10px;
  text-align: start;
  color: var(--light-color);
}

.workflow ul {
  list-style: none;
}

.workflow ul li:before {
  content: "✓";
  padding-right: 10px;
}

.workflow h3 {
  font-weight: bolder;
  color: var(--terciary-color);
}
