@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #8d99ae;
  --secondary-color: #d90429;
  --terciary-color: #ef233c;
  --dark-color: #2b2d42;
  --light-color: #edf2f4;
}

* {
  box-sizing: border-box;
  background-color: var(--dark-color);
  -webkit-font-smoothing: antialiased;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--light-color);
  line-height: 1.6;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0% 10%;
}

.container {
  position: relative;
  left: 220px;
  min-height: 100vh;
  overflow: hidden;
  max-width: 900px;
  padding-top: 50px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--light-color);
}

/* Mail button */
.btn-holder a {
  position: fixed;
  right: 40px;
  bottom: 40px;
  color: var(--light-color);
  text-decoration: none;
  padding: 20px 18px;
  border-radius: 100px;
  background: #da062d;
  z-index: 10;
}

.btn-holder a:hover {
  color: #dbd9d9;
  background: var(--secondary-color);
}

.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* Navbar */
.sidenav {
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #0a0d0f;
  padding-top: 35vh; /* 25% of vertical height */
  height: 100%;
  width: 220px;
  overflow-x: hidden;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: var(--light-color);
  display: block;
  background-color: #0a0d0f;
  margin: 0;
}

.sidenav a:hover {
  color: var(--primary-color);
}

/* Showcase */
.container-showcase {
  padding: 30vh 0;
}

.showcase h4,
a {
  font-weight: bold;
  margin: 5px 0;
  padding: 0px;
}

.showcase h1 {
  font-weight: bolder;
  font-size: 50px;
  margin: 0px;
}

.profile-icons a {
  margin: 20px 80px 5px 80px;
  color: var(--terciary-color);
  text-decoration: none;
}

.profile-icons a:hover {
  color: var(--secondary-color);
}

.container-showcase {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-grid-column-align: center;
  justify-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.mail {
  position: relative;
  color: var(--dark-color);
  text-decoration: none;
  padding: 15px 12px;
  border-radius: 200px;
  background: var(--light-color);
  border-top: 30px;
}

.mail:hover {
  text-decoration: none;
  background-color: #d7dddf;
}

.pfp {
  margin: 0px 0px 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.pfp img {
  border: 8px solid #4a4e69;
  border-radius: 100px;
  width: 200px;
}

.red {
  color: var(--terciary-color);
  -ms-flex-negative: auto;
  flex-shrink: auto;
  width: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.showcase-text {
  margin-left: 50px;
}

.showcase-info {
  margin: 0px 0px 10px 0px;
}

/* Projects */

/* Experience */
.experience .exp-inst {
  font-weight: bolder;
  margin-bottom: 5px;
  margin-top: 10px;
}

.experience .title {
  margin-bottom: 15px;
}

.exp-item {
  margin-bottom: 10px;
  margin-top: 5px;
}

.experience p {
  margin: 2px 0;
}

.top {
  margin: 5px 0 2px 0;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.experience .exp-title {
  margin-top: 5px;
  font-weight: bold;
  color: var(--terciary-color);
}

.exp-date {
  font-weight: bold;
}

/* Skills */
.container-skills {
  padding: 20vh 0;
}

.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: #0a0d0f;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
  font-size: medium;
  margin-bottom: 5px;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.tooltip {
  position: relative;
  display: inline-block;
}

.skill-list {
  padding-left: 20px;
}

.skill-list li {
  display: inline;
  margin: 0px auto 0px auto;
}

.skill-icons {
  color: var(--light-color);
  list-style-type: none;
  font-size: 48px;
  font-size: 3rem;
  margin: 5px 15px;
  padding-right: 5px;
}

.skill-icons i:hover {
  color: var(--primary-color);
}

.workflow {
  padding-top: 40px;
  padding-left: 10px;
  text-align: start;
  color: var(--light-color);
}

.workflow ul {
  list-style: none;
}

.workflow ul li:before {
  content: "✓";
  padding-right: 10px;
}

.workflow h3 {
  font-weight: bolder;
  color: var(--terciary-color);
}
