.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

/* Titles */
.title {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 50px;
}

/* Separators */
.separator {
  height: 300px;
}

/* Project Cards */
.project-card {
  height: 28em;
  width: 34em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  overflow: hidden;
  /*   -webkit-box-shadow:  5px 5px 27px #e1e1e3, -5px -5px 27px #ffffff;
  box-shadow:  5px 5px 27px #e1e1e3, -5px -5px 27px #ffffff; */
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
}

.project-img {
  height: 18em;
  width: 34em;
  max-width: 34em;
  padding: 1em 2em;
  position: Absolute;
  top: 0px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/Gazola/images/trade.jpg);
}

.project-info {
  background-color: var(--light-color);
  height: 10em;
  width: 34em;
  position: absolute;
  bottom: 0em;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align: center;
}

.project-info p,
.project-info h3 {
  background-color: var(--light-color);
  color: black;
}

.project-info h3 {
  font-weight: bolder;
}

.project-card:hover .project-info {
  height: 7em;
  padding: 0.5px 1em;
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}
.project-card:hover .project-img {
  height: 23em;
}

/* Achievement Cards */
.achiev-card {
  height: 6em;
  width: 16em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 2px;
  overflow: hidden;
  margin: 10px;
  padding: 10px;
}

.achiev-card:hover {
  box-shadow: 0px 0px 10px 3px rgba(24, 24, 24, 0.5);
}

.achiev-card p {
  color: var(--light-color);
  margin: 0;
  padding: 0;
}

.achiev-card span {
  font-weight: bold;
  position: relative;
  left: 80%;
}

/* Resizes */
@media screen and (max-width: 600px) {
}

@media screen and (min-width: 600px) and (max-width: 768px) {
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
}
